<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/themes/splide-skyblue.min.css">

    <link rel="stylesheet" href="css/main.css">
    <title>Matthew Tenuta Portfolio</title>
</head>
<body class="bckgrd">
    <header class="head two-items">
        <div class="pad2">
            <a href="index.html"><img class="logo" src="images/logo.png" alt="Matthew Tenuta Logo"></a>
        </div>
        <nav class="full" aria-label="Main Navigation">
            <h2 class="hidden">Main Navigation</h2>
            <ul>
                <li><a class="nav-element font" href="about.html">About</a></li>
                <li><a class="nav-element font" href="index.html">Portfolio</a></li>
                <li><a class="active nav-element font" href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <!-- Mobile Menu -->
       <div class="mobile tablet">
        <input type="checkbox" id="overlay-input"/>
        <label for="overlay-input" id="overlay-button">
            <span class="clicky"></span>
    </label>

        <div id="overlay">
            <ul>
                <li><a class="font nav-element whiteBorder" href="about.html">About</a></li>
                <li><a class="font nav-element" href="index.html">Portfolio</a></li>
                <li><a class="active font nav-element" href="contact.html">Contact</a></li>
            </ul>

            <svg class="shape-overlays noPoint" viewBox="0 0 100 100" preserveAspectRatio="none">
                <defs>
                <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%"   stop-color="#00c99b"/>
                    <stop offset="100%" stop-color="#ff0ea1"/>
                </linearGradient>
                <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%"   stop-color="#ffd392"/>
                    <stop offset="100%" stop-color="#ff3898"/>
                </linearGradient>
                <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%"   stop-color="#110046"/>
                    <stop offset="100%" stop-color="#32004a"/>
                </linearGradient>
                </defs>
                <path class="shape-overlays__path" fill="url(#gradient1)"></path>
                <path class="shape-overlays__path" fill="url(#gradient2)"></path>
                <path class="shape-overlays__path" fill="url(#gradient3)"></path>
            </svg>
        </div>
        </div>
        <!-- End Mobile Menu -->
    </header>

    <h1 class="hidden"> Matthew Tenuta Portfolio Index Page </h1>

    <section class="splide" aria-label="Splide Basic HTML Example">

        <div class="splide__track">
              <ul class="splide__list">
                  <li class="splide__slide">
                    <img class="innout" alt="In N Out Tenuta Logo">
                  </li>
                  <li class="splide__slide">
                    <img class="burger" alt="Burger King Tenuta Logo">
                  </li>
                  <li class="splide__slide">
                    <img class="simpson" alt="Simpsons Tenuta Logo">
                  </li>
                  <li class="splide__slide">
                    <img class="mcdonald" alt="McDonald Tenuta Logo">
                  </li>
              </ul>
        </div>
      </section>

    <main id="app" class="main">

        <section class="one-item pad2">
            <h2 class="hidden">Portfolio Intro Paragraph</h2>
                <h2 class="font center borderBottomThin">Hi There, Come On In!</h2>
                <p class="pad2 paragraphFont">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make </p>
        </section>

        <section>
            <nav>
                <ul class="characters three-items">
                    <thepiecethumb @loadlbdata="loadLightbox" v-for="piece in pieceData" :piece="piece"></thepiecethumb>
                </ul>
            </nav>
        </section>

        <thelightbox @closelightbox="this.showLB=false" v-if="showLB" :item="lbData"></thelightbox>

    </main>

    <footer class="foot footerColor">
        <section class="two-items">
            <div class="flex">
                <p class="footerText centerText pad2 font">Made With Love &#9829;</p>
            </div>
            <div class="flex imgCenter">
                <a href="https://github.com/MattTenuta"><img class="git pad" src="images/github.svg" alt="GitHub Logo"></a>
                <a href="https://www.linkedin.com/in/matthew-tenuta-878303232/"><img class="link pad" src="images/linkdin.svg" alt="Linkdin Logo"></a>
            </div>
        </section>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script>
        var splide = new Splide( '.splide', {
        type  : 'fade',
        rewind: true,
        } );
        splide.mount();
      </script>

    <script src="js/main.js" type="module" defer></script>
    
</body>
</html>