.git {
    max-width: 1000px;
}

.link {
    max-width: 100px;
}

.padFoot {
    padding: 1em;
}

.footerText {
    font-size: 20px;
    align-self: center;
}

.flex {
    display: flex;
}

.footerColor {
    background-color: rgb(111, 111, 186);
}